
@font-face {
font-family: "Lato";
src: url(assets/9622.ttf);
}

html{
  height: 0px;
}

body {
  width: 1020px;
  margin: 0px 1px;
}


section.fi, section.our, section.port, section.about, section.th{
padding-top: 70px;
margin-top: -70px;
}

#th{
  padding-top: 100px;
  margin-top: -100px;
}

#thh{
  padding-top: 50px;
  margin-top: -50px;
}


#ou{
  padding-top: 100px;
  margin-top: -100px;
}

#our{
  padding-top: 50px;
  margin-top: -50px;
}

      /*Первая секция*/

      .slider1{
      height: 84px;
      }

.firstsection header{
  position: fixed;
  width: 985px;
background-color: #2d2f3b;
padding: 1em 10px 15px 25px;
height: 35px;
border-bottom: 8px solid #2d3647;
z-index: 999999;
}

.firstsection #tag {
position: relative;
top:-15px;
display: flex;
padding: 0;
margin: 0;
padding-left:  20px;
float: right;
}

.firstsection li{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight:bold;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-right: 10.5px;
  padding-right: 15px;
  color: #3a3c48;
}

.firstsection li .active{
color: #f16c65;
}


.firstsection li :not(.active):hover {
    color: #f16c65;
    cursor: pointer;
}


.firstsection li:nth-child(1){
  position: relative;
list-style-type: none;
top:0.5px;
}

.firstsection .img{
  position: relative;
  display: inline-block;
  top:10px;
  font-size: 25px;
padding-left: 10px;
}

.firstsection .slider {
  padding: 1em 39px 15px 25px;
  position: relative;
  height: 550px;
  width: 956px;
  top:-10px;
  border-bottom: 8px solid #ea676b;
  overflow: hidden;
}


 .slider__wrapper {
   display: flex;
   transition: transform 0.6s ease;
 }

 .slider__item {
   flex: 0 0 100%;
   max-width: 100%;
 }



 .slider__control {
   position: absolute;
   top: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 25px;
   text-align: center;
   opacity: 0.5;
   transform: translateY(-50%);

 }

 .slider__control:hover,
 .slider__control:focus {
   color: #fff;
   text-decoration: none;
   outline: 0;
   opacity: 1;
 }

 .slider__control_left {
   left: 0;
 }

 .slider__control_right {
   right: 0;
 }

 .slider__control::before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
 }



 .slider__item>div {
   line-height: 250px;
   font-size: 100px;
   text-align: center;
 }

#slider{background-color: #f06c64;}

.firstsection .strN{
position: absolute;
float:left;
top:260px;
}
.firstsection .strV{
position: absolute;
right: 38px;
top:260px;
}

.firstsection .strN:hover,.firstsection .strN:focus{
opacity: 1;
cursor: pointer;
}

.firstsection .strV:hover,.firstsection .strV:focus{
opacity: 1;
cursor: pointer;
}



 .sl {
      opacity: 0.4;
}


.slider__content--vertical {
margin: 50px 0px 50px 30px;
transform: translateX(-6px);
width: 787px;
height: 489px;


}

.slider_second_page{
  width: 480px;
height: 483px;
margin: 50px 0px 50px 260px;
}


.slider__control_left::before {
     background-image: url("assets/strN.png");
   }

   .slider__control_right::before {
     background-image: url("assets/strV.png");
   }

#p{opacity: 0;}
#q{opacity: 0;}

#t{opacity: 0;}
#b{opacity: 0;}

.size img{
position: relative;
top:-610px;
right: 277px;
width: 189px;
height: 340px;
border-radius: 5px;
}

.size2 img{
position: relative;
top:-692px;
border-radius: 20px;
right: -181px;
width: 38px;
height: 38px;
}

.size0 img{
position: relative;
top:-1010px;
left: 150px;
width: 335px;
height: 190px;
border-radius: 5px;
}

.size1 img{
position: relative;
top:-420px;
border-radius: 20px;
left: 415px;
width: 38px;
height: 38px;
}



.firstsection .OurServices{
  padding: 1em 39px 15px 25px;
background-color: #f2f2f2;
border-bottom: 8px solid #f6f6f6;
  color: #656c87;
}

.firstsection .section{
  display: flex;
width: calc(33.3% - 13px);
flex-direction: row;
}

.firstsection .row{
display: flex;
justify-content: space-between;
margin-bottom: 33px;
flex-direction: row;
}

.firstsection .txt{
  text-align: justify;
  line-height: 1.8;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.firstsection .OurServicesGL{
font-family: 'Lato', sans-serif;
font-size: 30px;
font-weight: bold;
margin-bottom: 10px;
}

.firstsection .OurServicestxt{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 11.9pt;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.firstsection .imgserv{
position: relative;
top:22px;
padding-right: 20px;

}

.firstsection .GL{
font-family: 'Lato', sans-serif;
font-weight: bold;
margin-bottom: -5px;
}

.firstsection .txt{overflow: hidden;}

.firstsection a{
  color:white;
text-decoration: none;
}

          /*Вторая секция*/

    .secondsection  article {
        font-family: 'Lato', sans-serif;
        border-bottom: 8px solid #323746;
         text-align: left;
        background:#2d2f3b;
        padding: 1em 25px 40px 25px;
          color: #656c87;
          overflow: hidden;
      }

      .secondsection .navig {
      margin: -5px 0 0 0;
      }
      .secondsection #tag1 {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      padding-left:  10px;
      }

      .secondsection .button {
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      color: #767e9e;
      letter-spacing: 0.3px;
      border: 1px solid #666d89;
      border-radius: 5px;
      background: none;
      margin-right: 10.5px;
      }


      .secondsection li .active{
      color: white;
      }


      .secondsection li :not(.active):hover {
          color: red;
          cursor: pointer;
      }


      .secondsection main div .imgJS{
  border: 5px solid #F06C64;
        cursor: pointer;
        margin: -5px;
      }



    .secondsection   main{
          padding-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 20px;
      }


    .secondsection   .photo{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          height: 607px;
          margin: 10px;
          justify-content: space-between;
      }

        .secondsection button:active,   .secondsection button:focus {
          outline: none;
        }

        .secondsection .photo1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 607px;
        margin: 10px;
        justify-content: space-between;
        overflow: hidden;
      }

        .secondsection .photo1:hover{
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          cursor: pointer;
        }

      .secondsection .footer {
      background: #f2f2f2;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 8px solid #ffffff;
      padding-bottom: 67px;
      padding: 1em 35px 0 35px;
      color: #656c87;
      font-family: 'Lato', sans-serif;
      }

    .secondsection   .p6{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 25pt;
        margin-bottom: 20px;
        padding-left:  10px;
      }

    .secondsection   .p5{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 17pt;
        margin-bottom: 10px;
      }

    .secondsection   .p0{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11pt;
        text-align: justify;
        padding-left:  10px;
      }

    .secondsection   .p9{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11.5pt;
        text-align: justify;

      }

      .secondsection .p4{
        font-weight:bold;
        font-size: 21pt;
        margin-bottom: -10px;
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
      }

      .secondsection .p7{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 13px;
        text-align: justify;
      }

    .secondsection   .p1{margin-bottom: 40px;}

    .secondsection .p2{margin-bottom: -5px;}

    .secondsection   h3{
        font-family: 'Lato', sans-serif;
          margin-top: 18.5px;
          font-weight: 900;
          font-size: 1.12em;
          margin-top: -140px;
          margin-bottom: 0px;
          margin-left: 10px;
          letter-spacing: -0.007em;
          height: 1em;
          overflow: hidden;
      }


    .secondsection   footer p .p4, .p9{
          font-size: 1.1em;
          text-align: justify;
          font-weight: 300;
          letter-spacing: 0.01em;
          line-height: 1.76em;
          margin-bottom: 43px;
      }


      .secondsection .port{
          display: flex;
        margin-top: -160px;
        justify-content: space-between;
        width: 100%;
        margin-left: -10px;
      }

      .secondsection .portpeople{
          display: flex;
          flex-direction: column;
          width: 323px;

      }

    .secondsection   #pz{
        overflow: hidden;
          margin-left: 10px;
      letter-spacing: -0.1pt;
      margin-right:  10px;
      }

    .secondsection   #pp,#pq{
        overflow: hidden;
          margin-left: 10px;
      margin-right:  10px;

      }

    .secondsection   .portpeople p{
          letter-spacing: 0.11px;
          text-align: justify;
          line-height: 1.76em;
          font-size: 0.75em;
          font-weight: 400;
          margin-bottom: 24px;
      }


    .secondsection   .imgseti{
        padding-left:  10px;
          margin-bottom: 40px;
      }

    .secondsection   .imgseti img{
          cursor: pointer;
          opacity: 0.7;
      }

    .secondsection   .imgseti img:hover{
          cursor: pointer;
          opacity: 1;
      }


      /*Третья секция*/


    .thirdsection  article {
        color: #eeddd7;
        text-align: left;
        background:#f16c65;
        padding: 1em 40px 40px 40px;
        border-bottom: 8px solid #ea676b;
      }

    .thirdsection  .form{
          padding-top: 10px;
        width: 512px;
      }

    .thirdsection .aside {
        position: relative;
        top:0px;
        float:right;
        width:400px;

      }

    .thirdsection   .footer {
      background: #2d2f3b;
      height: 70px;
      padding: 1em 40px 5px 40px;
      }

    .thirdsection .footer di{
      color: white;
      opacity: 0.2;
      float:left;
      position: relative;
      top:20px;
      }

    .thirdsection   .footer gi{
      position: relative;
      right:-655px;

      }

    .thirdsection   .img1 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img2 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img3 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img4 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      }

    .thirdsection   .img5 {
      margin-right: 10px;
      margin-bottom: -1px;
      height: 15px;
      width: 15px;
      opacity: 0.8;
      }

    .thirdsection   .img6 {
      margin-right: 10px;
      height: 12px;
      width: 12px;
      opacity: 0.8;
      }

    .thirdsection   .img7 {
      margin-right: 10px;
      height: 10px;
      width: 14px;
      opacity: 0.8;
      }

    .thirdsection  di:hover,.thirdsection di:focus{
      opacity: 1;
      }

      .thirdsection .img1:hover,.thirdsection .img2:hover, .thirdsection .img3:hover, .thirdsection .img4:hover,
      .thirdsection .img1:focus,.thirdsection .img2:focus, .thirdsection .img3:focus, .thirdsection .img4:focus{
      opacity: 1;
      }

      .thirdsection .p6{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 25pt;
        margin-bottom: 20px;
      }

      .thirdsection .p5{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 17pt;
        margin-bottom: 10px;
      }

      .thirdsection .p0{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11pt;
        text-align: justify;
      }

      .thirdsection .p7{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 13px;
        text-align: justify;
      }

      .thirdsection .p1{margin-bottom: 40px;}

      .thirdsection .p2{margin-bottom: -5px;}

      .thirdsection ki{
        font-family: 'Lato', sans-serif;
          font-weight:400;
          font-size: 10pt;
      }

      .thirdsection .form p{
       margin-bottom: 20px;
      }

      .thirdsection input::-webkit-input-placeholder { color: #f16c65; }
      .thirdsection input::-moz-placeholder{ color: #f16c65; }
      .thirdsection textarea::placeholder { color: #f16c65; }

      .thirdsection .form input{
       width: 495px;
       background: #d75650;
      }

      .thirdsection .form textarea{
      background: #d75650;
       width: 495px;
       resize: none;
      }


      .thirdsection .form input, .form textarea{
       padding: 9px;
       border: 0px;
       border-radius: 5px;
       box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
       -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

      }

      .thirdsection .form input:hover, .thirdsection .form textarea:hover,
      .thirdsection .form input:focus, .thirdsection .form textarea:focus{
       border-color: #C9C9C9;
       box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
       -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      }

      .thirdsection  button{
       width: auto;
       background: #2d2f3b;
       color: #FFF;
       padding: 9px 15px;
       border: 0;
       font-size: 14px;
       cursor: pointer;
       border-radius: 5px;
      }

       .thirdsection button:hover{
       background: #2B415E;
       cursor: pointer;
      }


          .thirdsection #message_block{
          position: absolute;
          width: 1021px;
          height: 3500px;
          top: 0;
          left: 0;
          background: #0008;
          }

          .thirdsection #message_block.hidden{
          display: none;
          }

          .thirdsection #message{
          position: absolute;
          width: 500px;
          top: 3000px;
          left: 250px;
          border: 2px solid black;
          text-align: center;
          overflow: hidden;
          }


      .thirdsection h1{
      	 text-align: left;
      }

      .thirdsection a{
        color: #eeddd7;
      text-decoration: none;
      }

      .thirdsection a:hover {
      color: #2B415E;
      cursor: pointer;
      }


      .thirdsection table {
        font-size: 16px;
        background: none;
        border-collapse: collapse;
        text-align: center;
      }

      .thirdsection th {
        font-weight: normal;
        color: #80c300;
        border-bottom: 2px solid black;
        padding: 9px 8px;
      }

      .thirdsection td {
        border-bottom: 1px solid #80c300;
        color: black;
        padding: 10px 8px;
        transition: .3s linear;
      }

      .thirdsection tr:hover td {color: #80c300;}
