
@font-face {
font-family: "Lato";
src: url(assets/9622.ttf);
}

html{
  height: 0px;
}

body {
  margin: auto;
}


section.fi, section.our, section.port, section.about, section.th{
padding-top: 70px;
margin-top: -70px;
}

#th{
  padding-top: 100px;
  margin-top: -100px;
}

#thh{
  padding-top: 50px;
  margin-top: -50px;
}


#ou{
  padding-top: 100px;
  margin-top: -100px;
}

#our{
  padding-top: 50px;
  margin-top: -50px;
}


      .slider1{
      height: 84px;
      overflow: hidden;
      }

.firstsection header{
  position: fixed;
background-color: #2d2f3b;
padding: 1em 10px 15px 25px;
height: 35px;
border-bottom: 8px solid #2d3647;
z-index: 999999;
background-image:url(assets/singolo.png);
background-repeat: no-repeat;
background-position: 25px;
overflow: hidden;
}


.firstsection #tag {
position: relative;
top:-7px;
display: flex;
padding: 0;
margin: 0;
padding-left:  20px;
float: right;
}

.firstsection #tag li{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight:bold;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-right: 10.5px;
  padding-right: 15px;
  color: #3a3c48;
}

#tag li .active{
color: #f16c65;
}


#tag li :not(.active):hover {
    color: #f16c65;
    cursor: pointer;
}



#tag li:nth-child(1){
  position: relative;
list-style-type: none;
top:0.5px;
}


.firstsection .img{
  position: relative;
  display: inline-block;
  top:10px;
  font-size: 25px;
padding-left: 10px;
}

.firstsection .slider {
  padding: 1em 39px 15px 25px;
  position: relative;
  height: 550px;
  top:-10px;
  border-bottom: 8px solid #ea676b;
  overflow: hidden;
}


 .slider__wrapper {
   display: flex;
   transition: transform 0.6s ease;
 }

 .slider__item {
   flex: 0 0 100%;
   max-width: 100%;
 }



 .slider__control {
   position: absolute;
   top: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 25px;
   text-align: center;
   opacity: 0.5;
   transform: translateY(-50%);

 }

 .slider__control:hover,
 .slider__control:focus {
   color: #fff;
   text-decoration: none;
   outline: 0;
   opacity: 1;
 }

 .slider__control_left {
   left: 0;
 }

 .slider__control_right {
   right: 0;
 }

 .slider__control::before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
 }



 .slider__item>div {
   line-height: 250px;
   font-size: 100px;
   text-align: center;
 }

#slider{background-color: #f06c64;}

.firstsection .strN{
position: absolute;
float:left;
top:260px;
}
.firstsection .strV{
position: absolute;
right: 38px;
top:260px;
}

.firstsection .strN:hover,.firstsection .strN:focus{
opacity: 1;
cursor: pointer;
}

.firstsection .strV:hover,.firstsection .strV:focus{
opacity: 1;
cursor: pointer;
}



 .sl {
      opacity: 0.4;
}


.slider__content--vertical {
margin: 50px 0px 10px 30px;
transform: translateX(-6px);
width: 787px;
height: 489px;


}

.slider_second_page{
  width: 480px;
height: 483px;
margin: 50px 0px 10px 260px;
}


.slider__control_left::before {
     background-image: url("assets/strN.png");
   }

   .slider__control_right::before {
     background-image: url("assets/strV.png");
   }

#p{opacity: 0;}
#q{opacity: 0;}

#t{opacity: 0;}
#b{opacity: 0;}

#forsm{
opacity: 0;
width: 1px;
height: 1px;
}

#fo{
opacity: 0;
width: 1px;
height: 1px;
}


.size img{
position: relative;
top:-570px;
right: 277px;
width: 189px;
height: 340px;
border-radius: 5px;
}

.size2 img{
position: relative;
top:-652px;
border-radius: 20px;
right: -181px;
width: 38px;
height: 38px;
}

.size0 img{
position: relative;
top:-970px;
left: 150px;
width: 335px;
height: 190px;
border-radius: 5px;
}

.size1 img{
position: relative;
top:-380px;
border-radius: 20px;
left: 415px;
width: 38px;
height: 38px;
}

      #m ul{
        display: grid;
        grid-template-areas:
        "a a a"
        "a a a";
        grid-gap: 0px 20px;
        padding-left: 0px;
      }

      #m li{
        list-style: none;
      }

      #m li::before{
        content: "";
        float: left;
      }

.firstsection .OurServices{
  padding: 1em 39px 15px 25px;
background-color: #f2f2f2;
border-bottom: 8px solid #f6f6f6;
  color: #656c87;
}

.firstsection .GL{
font-family: 'Lato', sans-serif;
font-weight: bold;
  color: #656c87;
  padding: 0px 0px 0px 80px;
margin: -25px 0px 0px 0px;
}

.firstsection .txt{
  text-align: justify;
    color: #656c87;
  line-height: 1.8;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  padding: 0px 0px 0px 80px;
}

.firstsection .OurServicesGL{
font-family: 'Lato', sans-serif;
font-size: 30px;
font-weight: bold;
margin-bottom: 10px;
  color: #656c87;
}

.firstsection .OurServicestxt{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 11.9pt;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
    color: #656c87;
}

.firstsection .imgserv{
position: relative;
top:42px;
}

.firstsection .txt{overflow: hidden;}

.firstsection a{
  color:white;
text-decoration: none;
}



          /*Вторая секция*/

    .secondsection  article {
        font-family: 'Lato', sans-serif;
        border-bottom: 8px solid #323746;
         text-align: left;
        background:#2d2f3b;
          padding: 1em 25px 40px 35px;
          color: #656c87;
          overflow: hidden;
      }

      .secondsection .navig {
      margin: -5px 0 0 0;
      }
      .secondsection #tag1 {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      }

      .secondsection .button {
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      color: #767e9e;
      letter-spacing: 0.3px;
      border: 1px solid #666d89;
      border-radius: 5px;
      background: none;
      margin-right: 10.5px;
      }


      .secondsection #tag1 li .active{
      color: white;
      }


      .secondsection #tag1 li :not(.active):hover {
          color: red;
          cursor: pointer;
      }


      .secondsection main div .imgJS{
  border: 5px solid #F06C64;
        cursor: pointer;
        margin: -5px;
      }



    .secondsection   main{
          padding-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 20px;
      }


        .secondsection button:active,   .secondsection button:focus {
          outline: none;
        }


        #i ul{
          display: grid;
          grid-template-areas:
          "a a a a"
          "a a a a"
          "a a a a";
          grid-gap: 20px;
          padding-left: 0px;
        }

        #i li{
          list-style: none;
        }

        #i li::before{
          content: "";
          float: left;
        }




        .secondsection .photo1:hover{
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          cursor: pointer;
        }

      .secondsection .footer {
      background: #f2f2f2;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 8px solid #ffffff;
      padding-bottom: 67px;
      padding: 1em 35px 0 35px;
      color: #656c87;
      font-family: 'Lato', sans-serif;
      }

    .secondsection   .p6{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 25pt;
        margin-bottom: 20px;
      }

    .secondsection   .p5{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 17pt;
        margin-bottom: 10px;
      }

    .secondsection   .p0{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11pt;
        text-align: justify;
      }

    .secondsection   .p9{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11.5pt;
        text-align: justify;

      }

      .secondsection .p4{
        font-weight:bold;
        font-size: 21pt;
        margin-bottom: -10px;
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
      }

      .secondsection .p7{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 13px;
        text-align: justify;
      }

    .secondsection   .p1{margin-bottom: 40px;}

    .secondsection .p2{margin-bottom: -5px;}

    .secondsection   h3{
        font-family: 'Lato', sans-serif;
          margin-top: 18.5px;
          font-weight: 900;
          font-size: 1.12em;
          margin-bottom: 0px;
          letter-spacing: -0.007em;
          height: 1em;
          overflow: hidden;
      }


    .secondsection   footer p .p4, .p9{
          font-size: 1.1em;
          text-align: justify;
          font-weight: 300;
          letter-spacing: 0.01em;
          line-height: 1.76em;
      }


      #n ul{
        display: grid;
        grid-template-areas:
        "a a a";
        grid-gap: 0px 20px;
        padding-left: 0px;
      }

      #n li{
        list-style: none;
      }

      #n li::before{
        content: "";
        float: left;
      }

    .secondsection   #pz{
        overflow: hidden;
      letter-spacing: -0.1pt;
      margin-right:  10px;
      }

    .secondsection   #pp,#pq{
        overflow: hidden;

      }

    .secondsection   .portpeople p{
          letter-spacing: 0.11px;
          text-align: justify;
          line-height: 1.76em;
          font-size: 0.75em;
          font-weight: 400;
          margin-bottom: 24px;
      }


    .secondsection   .imgseti{
          margin-bottom: 40px;
      }

    .secondsection   .imgseti img{
          cursor: pointer;
          opacity: 0.7;
      }

    .secondsection   .imgseti img:hover{
          cursor: pointer;
          opacity: 1;
      }


      /*Третья секция*/

    .thirdsection  article {
        color: #eeddd7;
        text-align: left;
        background:#f16c65;
        padding: 1em 40px 40px 40px;
        border-bottom: 8px solid #ea676b;
      }

    .thirdsection  .form{
          padding-top: 10px;
      }

    .thirdsection .aside {
        position: relative;
        top:0px;
        float:right;
        width:400px;

      }

    .thirdsection   .footer {
      background: #2d2f3b;
      height: 70px;
      padding: 1em 40px 5px 40px;
      }

    .thirdsection .footer di{
      color: white;
      opacity: 0.2;
      float:left;
      position: relative;
      top:20px;
      }

    .thirdsection   .footer gi{
      position: relative;
      right:-655px;

      }

    .thirdsection   .img1 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img2 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img3 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      right: 0px;
      }

    .thirdsection   .img4 {
      top:10px;
      position: relative;
      height: 40px;
      width: 40px;
      align-self: left;
      opacity: 0.2;
      }

    .thirdsection   .img5 {
      margin-right: 10px;
      margin-bottom: -1px;
      height: 15px;
      width: 15px;
      opacity: 0.8;
      }

    .thirdsection   .img6 {
      margin-right: 10px;
      height: 12px;
      width: 12px;
      opacity: 0.8;
      }

    .thirdsection   .img7 {
      margin-right: 10px;
      height: 10px;
      width: 14px;
      opacity: 0.8;
      }

    .thirdsection  di:hover,.thirdsection di:focus{
      opacity: 1;
      }

      .thirdsection .img1:hover,.thirdsection .img2:hover, .thirdsection .img3:hover, .thirdsection .img4:hover,
      .thirdsection .img1:focus,.thirdsection .img2:focus, .thirdsection .img3:focus, .thirdsection .img4:focus{
      opacity: 1;
      }

      .thirdsection .p6{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 25pt;
        margin-bottom: 20px;
      }

      .thirdsection .p5{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        font-size: 17pt;
        margin-bottom: 10px;
      }

      .thirdsection .p0{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 11pt;
        text-align: justify;
      }

      .thirdsection .p7{
        line-height: 1.9;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.1px;
        font-weight:400;
        font-size: 13px;
        text-align: justify;
      }

      .thirdsection .p1{margin-bottom: 40px;}

      .thirdsection .p2{margin-bottom: -5px;}

      .thirdsection ki{
        font-family: 'Lato', sans-serif;
          font-weight:400;
          font-size: 10pt;
      }

      .thirdsection .form p{
       margin-bottom: 20px;
      }

      .thirdsection input::-webkit-input-placeholder { color: #f16c65; }
      .thirdsection input::-moz-placeholder{ color: #f16c65; }
      .thirdsection textarea::placeholder { color: #f16c65; }




      .thirdsection .form input, .form textarea{
       padding: 9px;
       border: 0px;
       border-radius: 5px;
       box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
       -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

      }

      .thirdsection .form input:hover, .thirdsection .form textarea:hover,
      .thirdsection .form input:focus, .thirdsection .form textarea:focus{
       border-color: #C9C9C9;
       box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
       -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      }

      .thirdsection  button{
       width: auto;
       background: #FBC65F;
       color: black;
       padding: 9px 15px;
       border: 0;
       font-size: 14px;
       cursor: pointer;
       border-radius: 5px;
      }

       .thirdsection button:hover{
       background: #2B415E;
       cursor: pointer;
      }


          .thirdsection #message_block{
          position: absolute;
          margin: -40px;
          width: 1020px;
          height: 3510px;
          top: 0;
          background: #0008;
          }

          .thirdsection #message_block.hidden{
          display: none;
          }

          .thirdsection #message{
          position: absolute;
          width: 500px;
          top: 3000px;
          left: 250px;
          border: 2px solid black;
          text-align: center;
          overflow: hidden;
          }


      .thirdsection h1{
      	 text-align: left;
      }

      .thirdsection a{
        color: #eeddd7;
      text-decoration: none;
      }

      .thirdsection a:hover {
      color: #2B415E;
      cursor: pointer;
      }


      .thirdsection table {
        font-size: 16px;
        background: none;
        border-collapse: collapse;
        text-align: center;
      }

      .thirdsection th {
        font-weight: normal;
        color: #80c300;
        border-bottom: 2px solid black;
        padding: 9px 8px;
      }

      .thirdsection td {
        border-bottom: 1px solid #80c300;
        color: black;
        padding: 10px 8px;
        transition: .3s linear;
      }

      .thirdsection tr:hover td {color: #80c300;}

 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

      @media (min-width: 1020px) {  /* для разрешения экрана от 768 до 1019 пикселей */
        body{
          width: 1020px;
        }

        header{
          width: 985px;
        }


      .thirdsection .form input{
       width: 495px;
       background: #d75650;
      }

      .thirdsection .form textarea{
      background: #d75650;
       width: 495px;
       resize: none;
      }

}
 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

      @media (max-width: 1019px) and (min-width: 768px) {  /* для разрешения экрана от 768 до 1019 пикселей */



        .thirdsection .form input{
         width: 345px;
         background: #d75650;
        }

        .thirdsection .form textarea{
        background: #d75650;
         width: 345px;
         resize: none;
        }

        .thirdsection  article {
            color: #eeddd7;
            text-align: left;
            background:#f16c65;
            padding: 20px 40px 40px 40px;
            border-bottom: 8px solid #ea676b;
          }

        .thirdsection .aside {
            position: relative;
            top:0px;
            float:right;
            width:300px;
          }

        #i ul{
          grid-template-areas:
          "a a a"
          "a a a"
          "a a a"
          "a a a";
          grid-gap: 20px 20px;
        }

        #m ul{
          grid-template-areas:
          "a a"
          "a a"
          "a a";
          grid-gap: 20px 50px;
        }

        #n ul{
          grid-template-areas:
          "a a a";
          grid-gap: 20px 20px;
        }

.secondsection .photo1 img{
  width: 220px;
  height: 220px;
}

        body{
          width: 768px;
        }

          header{
            width: 733px;
          }

.firstsection .slider{
  width: auto;
  height: 400px;
}

.slider__content--vertical {
margin: 40px 0px 10px 30px;
width: 600px;
height: 350px;
}

.slider_second_page{
  width: 380px;
height: 363px;
margin: 30px 0px 10px 180px;
}

.size img{
position: relative;
top:-437px;
right: 209px;
width: 143px;
height: 240px;
border-radius: 5px;
}

.size2 img{
position: relative;
top:-520px;
border-radius: 20px;
right: -130px;
width: 28px;
height: 28px;
}

.size0 img{
position: relative;
top:-770px;
left: 115px;
width: 255px;
height: 139px;
border-radius: 5px;
}

.size1 img{
position: relative;
top:-300px;
border-radius: 20px;
left: 305px;
width: 28px;
height: 28px;
}

.thirdsection   .footer gi{
  position: relative;
  left: 402px;
  }

  .thirdsection #message_block{
  position: absolute;
  margin: -40px;
  width:  768px;
  height: 3869px;
  top: 0;
  background: #0008;
  }

  .thirdsection #message{
  position: absolute;
  width: 500px;
  top: 3300px;
  left: 180px;
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
  }

}



 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

        @media (max-width: 767px){

          .thirdsection .form input{
           width: 278px;
           background: #d75650;
          }

          .thirdsection .form textarea{
          background: #d75650;
           width: 278px;
           resize: none;
          }

          .thirdsection .aside {
              position: relative;
              top:390px;
              float:left;
              width:300px;
            }

            .thirdsection  .form{
              position: relative;
              top:-280px;
              padding-top: 10px;
              }

              .thirdsection article {
    color: #eeddd7;
    text-align: left;
    background: #f16c65;
    padding: 1em 40px 10px 40px;
    border-bottom: 8px solid #ea676b;
}

 li .img img{
  width: 160px;
  height:148px;
}

.firstsection header{
  width: 340px;
  height: 35px;
  z-index: 9999;
padding: 1em 10px 15px 25px;
background-image:url(assets/menu.png), url(assets/singolo.png);
background-repeat: no-repeat;
background-position: 25px, 135px center;
}

.spr{
  visibility: hidden;
}

#menu{
  position: fixed;
background-color: #2d2f3b;
width: 278px;
  height: 100%;
z-index: 999998;
margin: -55px -25px;
background-image:url(assets/Header.png), url(assets/singolo.png);
background-repeat: no-repeat;
  background-position: left 25px top 20px, center top 25px;
}

.secondsection  article {
      padding: 1em 20px 0px 20px;
  }

  #fo{
    position: relative;
    top:0px;
    right: 5px;
  opacity: 0;
  width: 30px;
  height: 40px;
  z-index: 999999;
  }

.firstsection #tag{
  display: grid;
  grid-template-areas:
  "a"
  "a"
  "a";
  grid-gap: 20px;
  padding-right: 70px;
  padding-top: 150px;

}

.firstsection #tag li{
  list-style: none;
}

.firstsection #tag li::before{
  content: "";
  float: left;
}

#n ul{
  grid-template-areas:
  "a"
  "a"
  "a";
  grid-gap: 0px 20px;
}

#m ul{
  grid-template-areas:
  "a"
  "a"
  "a";
  grid-gap: 20px 50px;
}

          #i ul{
            grid-template-areas:
            "a a"
            "a a"
            "a a"
            "a a";
            grid-gap: 10px 10px;
          }
           .hid {
             display: none;
           }


           body{
             width: 375px;
           }


           .firstsection .slider{
             width: auto;
             height: 200px;
             padding: 1em 9px 15px 5px;
           }

           .slider__content--vertical {
           margin: 15px 0px 10px 30px;
           width: 300px;
           height: 180px;
           }

           .slider_second_page{
             width: 180px;
           height: 163px;
           margin: 20px 0px 10px 100px;
           }

           .size img{
           position: relative;
           top:-310px;
           right: 100px;
           width: 72px;
           height: 126px;
           border-radius: 3px;
           }

           .size2 img{
           position: relative;
           top:-400px;
           border-radius: 20px;
           right: -73px;
           width: 15px;
           height: 15px;
           }

           .size0 img{
           position: relative;
           top:-607px;
           left: 62px;
           width: 127px;
           height: 71px;
           border-radius: 3px;
           }

           .size1 img{
           position: relative;
           top:-204px;
           border-radius: 20px;
           left: 162px;
           width: 15px;
           height: 15px;
           }

           .slider__control::before {
             width: 10px;
             height: 10px;
           }

           .slider__control_left {
             left: -10px;
           }

           .slider__control_right {
             right: -10px;
           }

 .thirdsection   .footer di{
   display: none;
 }

           .thirdsection   .footer gi{
             position: relative;
             left: 60px;
             }

             .thirdsection #message_block{
             position: absolute;
             margin: -40px;
             width:  375px;
             height: 7125px;
             top: -6000px;
             background: #0008;
             }

             .thirdsection #message{
             position: absolute;
             width: 200px;
             top: 6500px;
             left: 100px;
             border: 2px solid black;
             text-align: center;
             overflow: hidden;
             }

             .thirdsection  #submit{
              width: 295px;
             }

       }
